/* Extra extra large */
@media (min-width: 1400px) {}

/* xl */
@media(min-width:1200px) and (max-width:1399px) {}

/* LG */
@media(min-width:992px) and (max-width:1199px) {
    .footer{
        min-height: fit-content;
    }
}

/* MD */
@media(min-width:768px) and (max-width:991px) {
    .responsive-col {
        width: 48% !important;
    }
    .footer{
        min-height: fit-content;
    }
    .hide-col{
        display: none;
    }
    .second-part {
        min-width: min-content;
        min-height:450px;
    }
    .se-img img{
            position: relative;
            right: 70px;
    }
}


/* SM */

@media(min-width:576px) and (max-width:767px) {
    .footer-in{
        margin-bottom: 15px;
        width: 70% !important;
    }
    .footer-con p{
        font-size: 11px;
    }
    .responsive-col {
        width: 100% !important;
    }
    .hidden-carousel{
        display:block !important;
    }
    .main-carousel{
        display: none;
    }
    .footer{
        min-height: fit-content;
    }
    .se-img img{
        position: relative;
        right: 70px;
}
.res-try{
    width:100% !important;
}
}


/* SM */

@media(max-width:575px) {
    .footer-in{
        margin-bottom: 15px;
        width: 70% !important;
    }
 .responsive-col {
        width: 100% !important;
    }
    .hidden-carousel{
        display:block !important;
    }
    .main-carousel{
        display: none;
    }
    .footer{
        min-height: fit-content;
    }
    .res-try{
        width:100% !important;
    }

}